{% extends 'base.html' %}
{% block title %}
    迷你小电商
{% endblock %}
{% block content %}
    <div class="container">
        {{ today }}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
        <div class='row'>
            <div class='col-md-12'>
                <div class='panel panel-default'>
                    <div class='panel-heading' align=center>
                        <h3>欢迎光临迷你小电商</h3>
                        {% if user.is_authenticated %}
                            <p>Welcome: {{ user.username }}</p>
                        {% else %}
                            <p>欢迎使用Github注册/登录你的账号才能购买本店优惠商品。(测试使用,如有侵权请联系下架)</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <buttton class="btn btn-info">
                目前是第{{ polls.number }}页</a>
            </buttton>

            {% if products.has_previous %}
                <button class="btn btn-info">
                    <a href="?p={{ products.previous_page_number }}">上一页</a>
                </button>
            {% endif %}

            {% for page in pages %}
                <button class="btn btn-info">
                    <a href="?p={{ page }}">{{ page }}</a>
                </button>
            {% endfor %}

            {% if products.has_next %}
                <button class="btn btn-info">
                    <a href="?p={{ products.next_page_number }}">下一页</a>
                </button>
            {% endif %}
        </div>

        {% load account %}
        {% for product in products %}
            {% cycle '<div class="row">' '' '' '' %}
            <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img src="{{ product.image.url }}" alt="">
                    <div class="caption">
                        <h4><a href="{% url 'product-url' product.id %}">{{ product.name }}</a></h4>
                        <p>NT$: {{ product.price }}</p>
                        <p>库存: {{ product.stock }}</p>
{#                        <p>{{ product.description }}</p>#}
                        {% if user.is_authenticated %}
                        <button class="btn btn-info" {{ product.stock | yesno:",disabled" }}>
                            <a href="{% url 'additem-url' product.id 1 %}">放入购物车</a>
                        </button>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% cycle '' '' '' '</div>' %}
        {% empty %}
            <h3>此分类目前没有任何商品</h3>
        {% endfor %}
    </div>
{% endblock %}