{% extends 'base.html' %}
{% block title %}
    选择你的付款方式
{% endblock %}
{% block content %}
    <div class="container">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
        <div class='row'>
            <div class='col-md-12'>
                <div class='panel panel-default'>
                    <div class='panel-heading' align=center>
                        <h3>欢迎光临迷你小电商</h3>
                        {% if user.is_authenticated %}
                            <p>Welcome: {{ user.username }}</p>
                        {% else %}
                            <p>欢迎使用Github注册/登录你的账号才能购买本店优惠商品。(测试使用,如有侵权请联系下架)</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-info">
                    <div class="panel panel-heading">
                        <h4>在线付款(订单编号: {{ order.id }})</h4>
                    </div>
                    <div class="panel panel-body">
                        {% for item in items %}
                        {% if forloop.first %}
                        <table border="1px">
                            <tr>
                                <td width="300px" align="center">产品名称</td>
                                <td width="100px" align="center">单价</td>
                                <td width="100px" align="center">数量</td>
                                <td width="100px" align="center">小计</td>
                            </tr>
                        {% endif %}

                        <div class="listgroup">
                            <div class="listgroup-item">
                                <tr>
                                    <td align="right">{{ item.name }}</td>
                                    <td align="center">{{ item.price }}</td>
                                    <td align="right">{{ item.quantity }}</td>
                                    <td align="center">{{ item.subtotal }}</td>
                                </tr>
                            </div>
                        </div>
                        {% if forloop.last %}
                        </table>
                        {% endif %}
                        {% empty %}
                            <em>此订单是空的</em>
                        {% endfor %}
                    {{ paypal_form.render }}
                    </div>

                <div class="panel panel-footer">
                    NT$: {{ total }}元
                </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}